.social-icons {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1); /* خلفية شفافة */
  backdrop-filter: blur(10px); /* تأثير البلور */
}

.social-icons a {
  color: white;
  font-size: 28px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #703030; /* لون عند المرور */
}
