/* الأساسيات */
.navbar {
  background-color:#fff7e9;
  color: #703030;
  height: 100px;
  padding: 0.75rem 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* يمين ويسار */
  align-items: center;
}

/* يمين */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.brand-text {
  font-weight: bold;
  font-size: 1.5rem;
  color: #703030
}

/* الروابط */
.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row !important;
  align-items: center; /* يخليهم بنفس الخط */
  gap: 1.5rem;
  margin: 0;
  padding: 40;
}

.navbar-nav li {
   display: inline-block;
}

.navbar-nav li a {
  color: #703030;
  text-decoration: none;
  transition: color 0.2s ease;
 
}

.navbar-nav li a:hover {
  color: #c89696;
}

/* يسار */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav-username {
  color: #703030;
}

.btn-outline-light {
  color: #703030;          /* نفس لون النص */
  border: 2px solid #703030;
  background-color: transparent;
  padding:0.65rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: "16px";
  transition: all 0.2s ease;
}

.btn-outline-light:hover {
  background-color: #703030;
  color: #fff7e9;          /* لون الخلفية عند المرور */
}
